header{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.create-button{
    margin: 20px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    box-shadow: inset 0 0 4px;
    background: orange;
}

.car-forms{
    margin: 20px 0
}
.car-forms input{
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 4px;
    padding: 5px;
}
.car-forms button{
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 4px;
    padding: 5px;
    color: brown;
}

.cars-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 0 auto;
}

.cars-block{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: orange 1px solid;
    padding: 5px;


}
.car-info{
    letter-spacing: 0.1em;
    color: brown;
}
.cars-block > button{
    width: 100px;
    height: 30px;
    border: brown;
    box-shadow: inset 0 0 8px;
    margin: 5px;
    border-radius: 5px;
}
.errors{
    color: brown;
    font-size: x-small;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: olive;
    letter-spacing: .2em;
}

h2{
    color: olive;
}
