* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
  background: #cbcbcb;
}

#root {
    background: silver;
    width: 90%;
    min-height: 20px;
    margin: 0 auto;
  border-radius: 5px;

}

.box {
    width: 100%;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    padding-left: 1.2em;
}

button {
    width: 80%;
    height: 20px;
    background: silver;
    color: brown;
    transition: .5s;


}

button:hover {
    cursor: pointer;
    background: grey;
    transition: .5s;
}

.userOl {
    width: 33%;
    min-height: 10px;


}

.user_details {
    width: 33%;
    background: cornsilk;
    border-radius: 7px;
    padding: 5px;
    margin: 5px 2px 2px;
}


