
.wrap{
  width: 100%;
  background: silver;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.posts{
  background: #d2d0d0;
  width: 100%;
  min-height: 50px;
}


