.App {
  text-align: justify;
  width: 100%;
  min-height: 100px;
}

.App ul{
  list-style-type: none;
}
.menu{
  text-decoration: none;
  transition: .5s;
  color: #019393;

}

.menu:hover{
  transition: .5s;
 color: #005252;

}
.active{
  font-size: large;
  font-weight: bold;
  color: teal;

}
